.container {
    display: flex;
    padding: 1rem;
}

img {
    width: 6rem;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 8px 8px 8px black;
}

p {
    padding-left: 35px;
    padding-bottom: 80px;

}

.info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
